<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Modelo de Sentimento</title>
</head>
<body>
    <div id="form-container">
        <h1>Modelo de Sentimento</h1>
        <form action="/sentiment-score" method="post">
            <div>
                <p>Digite uma frase: </p>
                <textarea name="phrase" id="phrase" cols="50" rows="3">{{ phrase }}</textarea>
            </div>

            <div class="alert alert-success" role="alert">
                <h1>Score</h1>
                <h4>{{ sentiment_score }}</h4>
                <p id="score-explanation">O score de sentimento varia entre -1 e +1. Quanto mais próximo de -1, mais negativo é o sentimento e vice-versa. 
                    Caso o score de sentimento caia em uma região entre -0.05 e +0.05, dizemos que a frase apresenta um sentimento neutro.
                </p>
            </div>

            <a href="/form" class="btn btn-primary">Tentar novamente</a>
            
        </form>
    </div>
</body>
</html>